/* Color Variables :
----------------------------------------------- */
:root {
  --main: #89023e;
  --sub-titles: #f88dad;
  --links: #8390fa;
  --aside: #d4a0a7;
  --color-one: #e3e3e3;
  --color-two: #808080;
  --color-three: #ebebeb;
}
