@media (min-width: 975px) {
  /* General 
    ---------------------------- */
  #tribute-info {
    display: flex;
  }
  /* xxxxxxxxxxxxxxxxxxxxxxxxx */

  /* Nav
    ---------------------------- */
  #nav {
    justify-content: flex-end;
    padding-right: 50px;
  }
  /* xxxxxxxxxxxxxxxxxxxxxxxxx */

  /* Article 
    ---------------------------- */
  #article {
    width: 50%;
  }

  #article li {
    list-style: none;
  }
  /* xxxxxxxxxxxxxxxxxxxxxxxxx */

  /* Aside 
    ---------------------------- */
  aside {
    margin: 50px 70px 0 0;
    max-width: 400px;
    background: white;
  }

  h4 {
    color: var(--two);
  }

  .aside-info {
    border: 20px solid #ebebeb;
  }

  .hidden {
    float: left;
    margin-left: -100000px;
  }

  .border-bottom {
    border-bottom: 3px solid #ebebeb;
    margin: 0 40px;
  }
  /* xxxxxxxxxxxxxxxxxxxxxxxxx */

  /* Footer 
  ---------------------------- */
  footer i {
    padding: 3px 5px;
  }
  /* xxxxxxxxxxxxxxxxxxxxxxxxx */
}
